!!! 5
%html{:lang => 'pt'}
  %head
    %meta{:charset => 'utf-8'}
    - title = yield_content(:title)
    - title = '%s' if title.empty?
    %title= title % 'edson.hilios'
    = stylesheet :application
    = yield_content(:stylesheets)
  %body
    = yield
    = javascript :application
    = yield_content(:javascripts)