!!! 5
%html{:lang => 'pt'}
  %head
    %meta{:charset => 'utf-8'}
    - title = yield_content(:title)
    - title = '%s' if title.empty?
    %title= title % 'Edson Hilios'
    = stylesheet 'application.css'
    = yield_content(:stylesheets)
  %body
    = yield
    = javascript 'application.js'
    = yield_content(:javascripts)