!!! 5
%html{:lang => 'pt'}
  %head
    %meta{:charset => 'utf-8'}
    %meta{:name => 'google-site-verification', :content => 'fO60jq8sVAeWA9e2goHKCqJwUDGTeqt6i2-X_V6Zxhw'}
    - title = yield_content(:title)
    - title = '%s' if title.empty?
    %title= title % 'edson.hilios'
    = stylesheet :application
    = yield_content(:stylesheets)
  %body
    = yield
    = javascript :application
    = yield_content(:javascripts)